[submodule "users-service/src/main/resources/protomodules"]
	path = users-service/src/main/resources/protomodules
	url = https://github.com/ruziba3vich/protomodules.git
[submodule "products-microservice/productmodules"]
	path = products-microservice/productmodules
	url = https://github.com/ruziba3vich/productmodules.git
